 .todo-container {
           width: 680px;
           height: 700px;
           margin-top: 0px;
            margin: 0 auto;
            background-color:aliceblue;
        }
        h1{
            text-align: center;
            font-size: 50px;
        }
        h2{
            text-align: center;
            font-weight: 100;
        }
        .buts{
            margin-left: 60px;
            width: 81%;
            margin-bottom: 10px;
            cursor: pointer;
        }
        .button{
               width: 100px;
               height: 30px;
               border: 1px solid black;
                margin-right: 120px;
        }
        .button3{
            width: 100px;
            height: 30px;
            border: 1px solid black;
            float: right;
        }
        .button:hover{
            text-decoration: underline;
            
        }
        .button3:hover{
            text-decoration: underline;
        }
        #editForm{
            margin-left: -33px;
            display: flex;
            width: 60%;
            text-align: center;
            height: 40px;
            font-size:large;
            position: relative;
        }
        #editForm button{
        display: inline;
        }
        .todo-input {
            margin-left: 60px;
            display: flex;
            width: 80%;
            text-align: center;
            height: 60px;
            font-size:large;
       
        }
        .todo-input:hover{
            color: white;
            background-color:#ccc;
        }
        .todo-button {
            margin-left: 60px;
            padding: 5px 10px;
            background-color: #4CAF50;
            color: white;
            width: 81%;
            height: 30px;
            cursor: pointer;
      
        }
        .todo-button:hover{
            size: 105%;
        }
        .todo-list {
            list-style-type: none;
            padding: 0;
        }
        .todo-li{
            top: 0;
            border-top: 1px solid #e5e5e5;
            font-size: large;
            margin-left: 60px;
            padding: 5px 10px;
            width: 78%;
            height: 30px;
            position: relative;
            background-color: white;

        }
        .completed{
            color: #b6b6b6;
            text-decoration: line-through;
        }
        .newinput{
            position: absolute;
            right: 240px;
            width: 40px;
        }
        .div{
            top: 0;
            border-top: 1px solid #e5e5e5;
            font-size: large;
            margin-left: 60px;
            padding: 5px 10px;
            width: 78%;
            height: 30px;
            position: relative;
            display: block;
          

        }
        .edit{
            width: 200px;
            position:absolute;
            left: 50px;
         
             height: 30px;
             background-color:white;
             color: black;
             border:1px solid black;
             
             
        }
        .delete{
       position: absolute;
       left: 300px;
             width: 200px;
             height: 30px;
             background-color: red;
             color:black;
             border:1px solid black
           
             
        }
        .todo-item {
            padding: 5px;
            border-bottom: 1px solid #ccc;
        }
        .todo-item button {
            float: right;
            margin-left: 5px;
            background-color: transparent;
            border: none;
            cursor: pointer;
        }