 .todo-container {
           width: 680px;
           height: 700px;
           margin-top: 0px;
            margin: 0 auto;
            background-color:aliceblue;
        }
        h1{
            text-align: center;
            font-size: 50px;
        }
        h2{
            text-align: center;
            font-weight: 100;
        }
        .todo-input {
            margin-left: 60px;
            display: flex;
            width: 80%;
            text-align: center;
            height: 60px;
          
       
        }
        .todo-button {
            margin-left: 60px;
            padding: 5px 10px;
            background-color: #4CAF50;
            color: white;
            width: 81%;
            height: 30px;
            cursor: pointer;
      
        }
        .todo-list {
            list-style-type: none;
            padding: 0;
        }
        .todo-item {
            padding: 5px;
            border-bottom: 1px solid #ccc;
        }
        .todo-item button {
            float: right;
            margin-left: 5px;
            background-color: transparent;
            border: none;
            cursor: pointer;
        }